<div class="card text-center">
  <div class="card-block">
    <h4 class="card-title">Имя, адрес</h4>
    <p class="card-text">Ваш набор: выв, 213, йцук.</p>
    <a href="#" class="btn btn-primary">Отправить набор</a>
  </div>
</div>
<div class="card text-center">
  <div class="card-block">
    <h4 class="card-title">Имя, адрес</h4>
    <p class="card-text">Ваш набор: выв, 213, йцук.</p>
    <a href="#" class="btn btn-primary">Отправить набор</a>
  </div>
</div>
<div class="card text-center">
  <div class="card-block">
    <h4 class="card-title">Имя, адрес</h4>
    <p class="card-text">Ваш набор: выв, 213, йцук.</p>
    <a href="#" class="btn btn-primary">Отправить набор</a>
  </div>
</div>
